*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common */
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f6f8f9;
}

.btn{
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  border: none;
  font-size: 0.6rem;
  color: white;
}

.check{
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align:center;
  font-size: 10px;
  vertical-align: middle;
}

/* header */
.header{
  background-color: white;
  padding: 10px 15px;
}

.titolo{
  display: inline-block;
  vertical-align: middle;
}

#logo{
  vertical-align: middle;
}
/* /header */

/* main */
.contenitore-bottoni{
  background-color: white;
  width: 80%;
  padding: 10px 0 5px 50px;
  margin: 40px auto 0 auto;
}

.contenitore{
  background-color: white;
  height: 100%;
  width: 80%;
  padding: 10px 0 50px 50px;
  margin: 0 auto;
}

.contenitore{
  margin-top: 3px;
}

.btn-add-task{
  color: white;
  background-color: #47adf1;
  border: none;
}

.btn-add-section{
  color: lightgrey;
  background-color: white;
  border: 1px solid lightgrey;
}

ul{
  list-style-type: none;
}

li{
  padding: 10px;
}

.check-verde{
  color: green;
  border: 1px solid green;
}

.check-rosso{
  color: red;
  border: 1px solid red;
}

h3{
  display: inline-block;
  padding-left: 11px;
}

.freccia{
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
}

.bottone-azzurro{
  background-color: #47adf1;
  border-radius: 8px;
}

.bottone-viola{
  background-color: #9c72e4;
  border-radius: 8px;
}

.bottone-verde-acqua{
  background-color: #64c0a9;
  border-radius: 8px;
}

.bottone-arancione{
  background-color: #f29e33;
  border-radius: 8px;
}

.bottone-rosa{
  background-color: #d863a1;
  border-radius: 8px;
}

.bottone-verde{
  background-color: #b0c926;
  border-radius: 8px;
}
/* /main */
